services:
  crowsnest:
    build: .
    # image: ghcr.io/mo-rise/crowsnest-frontend:latest
    restart: unless-stopped
    ports:
      - 3001:3000
      - 8080:80

  # tiles:
  #     image: git.ri.se:4567/mo-rise/crowsnest-tiles:latest
  #     container_name: "crowsnest-tiles-seacharts"
  #     restart: unless-stopped
  #     labels:
  #       - crowsnest.expose=true
  #       - traefik.http.routers.tiles-router.rule=PathPrefix(`/tiles`)
  #       - traefik.http.middlewares.tiles-strip.stripprefix.prefixes=/tiles
  #       - traefik.http.routers.tiles-router.entryPoints=web
  #       - traefik.http.services.tiles-service.loadbalancer.server.port=8080
  #       - traefik.http.routers.tiles-router.service=tiles-service
  #       - traefik.http.middlewares.tiles-cors.headers.accesscontrolallowmethods=GET
  #       - traefik.http.middlewares.tiles-cors.headers.accesscontrolallowheaders=Authorization,Access-Control-Allow-Origin
  #       - traefik.http.middlewares.tiles-cors.headers.accesscontrolalloworiginlist=*
  #       - traefik.http.middlewares.tiles-cors.headers.accesscontrolmaxage=100
  #       - traefik.http.middlewares.tiles-cors.headers.addvaryheader=true
  #       - traefik.http.routers.tiles-router.middlewares=tiles-strip,tiles-cors
  #     command:
  #       - --public_url
  #       - ${CROWSNEST_PROTOCOL}${CROWSNEST_HOST}/tiles
  #       - --verbose